.bg-admin {
	background: rgb(54, 65, 80);
	background: linear-gradient(88deg, rgba(54, 65, 80, 1) 0%, rgba(43, 54, 67, 1) 96%);
}

.bg-guru {
	background-color: #032927;
}

.bg-bk {
	background-color: #7283c9;
}

.bg-siswa {
	background-color: #0e0e24;
}

.bg-wali {
	background-color: #1e1e52;
}

.presensi-list-scrollable{
	height: 20rem;
	width: 100%;
	overflow: auto;
}